/*
-------
Reset
-------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-------
Main
-------
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        #429488 0%,
        #429488 130px,
        #dbdbd3 130px,
        #dbdbd3 100%
    );
}

#container {
    width: 80vw;
    height: 90vh;
    display: flex;
}

#sidebar {
    width: 30%;
    background-color: pink;
}

#main {
    width: 70%;
    background-color: green;
}