/*
-------
Reset
-------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-------
Common
-------
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#429488 0%,
            #429488 130px,
            #dbdbd3 130px,
            #dbdbd3 100%);
}

.d-flex {
    display: flex;
}

.userimgbackground {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
}

/*
---------
Sidebar
---------
*/

#container {
    width: 80vw;
    height: 90vh;
    display: flex;
}

#sidebar {
    width: 35%;
    background-color: white;
}

#sidebarheader {
    height: 30%;
}

.userinfo {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: .625rem;
}

.username {
    display: flex;
    align-items: center;
    margin-left: .3125rem;
}

.iconsheadersidebar > span > i {
    margin: 0 .5rem;
    color: gray;
    font-size: 1.0625rem;
}

.bellsidebar {
    background-color: #9fd7f9;
    display: flex;
    align-items: center;
    padding: 1.25rem;
}

.bellsidebar>* {
    margin-right: 1.25rem;
}

.searchsidebar {
    padding: .3125rem;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containersearchsidebar input[type=text] {
    padding: .5rem 3.125rem .5rem 0;
    border: none;
}

.containersearchsidebar button {
    padding: .5rem 1.25rem;
    background-color: white;
    border: none;
    cursor: pointer;
}

#sidebarmain {
    height: 70%;
}

#sidebarmain>div {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/*
-------
Main
-------
*/

#maincontainer {
    width: 65%;
}

.mainheader {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: .625rem;
}

.leftheadermain,
.rightheadermain {
    display: flex;
    align-items: center;
}

.maincenter {
    height: calc(100% - 7.5rem);
    background-image: url("../../img/mine.jpg");
    object-fit: cover;
}

.mainfooter {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: .625rem;
}

.emojifootermain,
.recordfootermain {
    width: 10%;
    display: flex;
    justify-content: center;
}

.mainfooter .inputfootermain {
    width: 80%;
}

.mainfooter .inputfootermain>input {
    width: 100%;
    padding: .625rem;
}